<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://xmlns.jcp.org/xml/ns/javaee https://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>scoremanager/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>scoremanager.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/scoremanager/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentCreateAction</servlet-name>
    <servlet-class>main.StudentCreateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentCreateAction</servlet-name>
    <url-pattern>/StudentCreateAction.action</url-pattern>
  </servlet-mapping>
</web-app>